footer {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 1rem;
}
footer .columna {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 10px;
}
footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 8px;
}

footer ul li p {
    font-size: 1rem;
    color: #fff;
}

footer .fa-solid, .fa-regular, .fa-brands {
    margin-right: 10px;
}

footer ul li p i {
    font-size: 1.2rem;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    footer .columna {
        flex-direction: column;
        align-items: center;
    }
}
